
<footer>
    <div>
        <div>
            <img src=https://i.imgur.com/RjXtBHn.png class="imbd-logo" alt="IMDb logo">
        </div>
    </div>
</footer>
<script src="/js/app.js"></script>
</body>
</html>