
<footer>
    <div>
        <div>
            <img src=https://i.imgur.com/RjXtBHn.png class="tmbd-logo" alt="TMDB logo">
        </div>
    </div>
</footer>
<script src="/js/app.js"></script>
</body>
</html>