<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Hind|Quicksand:700" rel="stylesheet">
	<title>whatch</title>
</head>
<body>
    <nav>
		<ul>
				<a href="/" >
					<img class="brand"src="/img/logo.png" alt="logo">
				</a>
			<% if (user) { %>
				
				<% if (user.avatar) { %>
					<a  href="/users/<%= user._id %>">
						<img src="<%= user.avatar %>" class="nav-avatar">
					</a>
				<% } else { %>
					<a   class="nav-links" href="/users/<%= user._id %>">
						<li>
							<%= user.name %>
						</li>
					</a>
				<% } %>

				<li class="nav-links"><a href="/logout">
					Logout
				</a></li>

				<li class="nav-links"><a href="/discover">
						Discover Movies
				</a></li>
			<% } else { %>
				<li class="nav-links"><a href="/auth/google">
					Login with Google
				</a></li>
			<% } %>
		</ul>
	</nav>

		