<%- include ../partials/header.ejs %>


<table class="movieGrid">
    <tr>
		<% images.forEach(function(image) { %>
			<td data-genres="<%= image.genres %>"><img src="<%= image.url %>"></td>
		<% }) %>
    </tr>
</table>

<%- include ../partials/footer.ejs %>