<%- include ../partials/header.ejs %>


<table class="movieGrid">
    <tr>
		<% images.forEach(function(image) { %>
			<td >
				<img data-genres="<%= image.genres %>" class='tests'src="<%= image.url %>">
			</td>
		<% }) %>
    </tr>
</table>

<%- include ../partials/footer.ejs %>