<%- include('./partials/header.ejs') %>
	<div id="intro-text">
		<h1>Welcome to Whatch!</h1>
		<p><a href="/discover">Discover Movies</a> here to get personal movie recommendations!</p>
		<p>Below is a list of popular movies on <a href="https://www.themoviedb.org/">The Movie Database.</a></p>
	</div>
	
	<main class="movie-grid">
			<div>
				<% movies.forEach(function(movie) { %>
					<% if (movie.poster_path) { %>
						<img src="https://image.tmdb.org/t/p/w500/<%=movie.poster_path%>" class="poster">
					<% } else { %>
						<img src="/img/missing-poster.png" class="poster missing-poster">
					<% } %>
				<% })%>
			</div>
		</main>

<%- include('./partials/footer.ejs') %>