<%- include ../partials/header.ejs %>


<body>
    <nav></nav>
       
    <main class="movieGrid">
        <div>
            <a href="#" >
                <img src="https://i.imgur.com/qeRhrN3.jpg" alt="should be an image" class="poster">
                This image should 
            </a>
            <a href="#" >
                <img src="https://i.imgur.com/CfgC2PH.jpg" alt="should be an image" class="poster">
            </a>
            <a href="#" >
                    <img src="https://i.imgur.com/oO9nqzt.jpg?1" alt="should be an image" class="poster">
            </a>
            <a href="#" >
                <img src="https://i.imgur.com/oO9nqzt.jpg?1" alt="should be an image" class="poster">
            </a>
        </div>
        <div>
            <a href="#" >
                <img src="https://i.imgur.com/qeRhrN3.jpg" alt="should be an image" class="poster">
            </a>
            <a href="#" >
                <img src="https://i.imgur.com/qeRhrN3.jpg" alt="should be an image" class="poster">
            </a>
            <a href="#" >
                <img src="https://i.imgur.com/oO9nqzt.jpg?1" alt="should be an image" class="poster">
            </a>
            <a href="#" >
                <img src="https://i.imgur.com/qeRhrN3.jpg" alt="should be an image" class="poster">
            </a>
        </div>
    </main>
    <footer>Photo by Lee Aik Soon on Unsplash, Photo by Kid Circus on Unsplash</footer>
    
<%- include ../partials/footer.ejs %>
