a{
    text-decoration: none;
}
body{
    margin: 0;
}
li{
    list-style: none;
}
td{
    border: black solid 2px;
    height: 100px;
    width: 100px;
}
nav{
    overflow: hidden;
    background-color: #84fff3c9;
    margin: 0;
}
main{
    width:  500px;
    text-align: center;
    margin: 4em  auto;
}
.brand{
    float: left;
}
nav li{
    float: right;
    text-align: center;
    margin: 10px;
}
.profile{
    display: block;
    width: 30%;
    height: 50%;
    border: black 2px solid;
    float: right;
    margin: 2em;
}
.avatar-profile{
    height: 30%;
    width: 90%;
    border-radius: 50%;
    background-color: grey;

}
.history{
    display: block;
    border: black 2px solid;
    width: 50%;
    margin: 2em;
    float:  left;
}

.movieGrid{
    margin: auto;
    background-color:  #84fff3c9;
    border: 1px solid  #84fff3c9;;
    height: auto;
    width: 90%;
    padding: 10px;
    text-align: center;

}

.poster{
    border-radius: 20%;
    background-color: rgb(206, 168, 122);
    display: inline-block;
    height: 200px;
    width: 13em;
    padding: 4px;
    margin: 5px;
}
