a{
    text-decoration: none;
}
h2{
    margin: 2px;
    font-family: 'Hind', sans-serif;
    letter-spacing: 2px;
}
body{
    margin: 0;
    background-color: rgb(200, 200, 200);
    padding: 0;
}
button{
    width: 10%;
    height: 3em;
    font-weight: 600;
    margin: 5px;
    width: 100%;
    background-color: rgb(255, 255, 192);
}

li{
    list-style: none;
}

nav{
    overflow: hidden;
    background-color: #43a4dd;
    margin: 0;
    padding: 0;
}

main{
    width:  500px;
    text-align: center;
    margin: 4em  auto;
}

nav li{
    float: right;
    text-align: center;
    margin: 10px;
    color: white;
}
nav li a{
    line-height: 2.5em;
}

nav li:hover{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.nav-links{
    font-family: 'Quicksand', sans-serif;

}
.test-page{
    columns: 400px;
    display: block;
}

.polaroid{
    page-break-inside: auto;
    break-inside: auto;
    padding: 20px;
    padding-bottom: 40px;
    margin-bottom: 1em;
    background-color: rgb(255, 253, 248)
}
.test-images{
    width: 100%;
    margin-bottom: 40px;
}

.test-images:hover{
    box-shadow: 8px 8px 8px 0 rgba(88, 227, 251, 0.466), 8px 8px 8px 0 rgba(88, 227, 251, 0.466);

}

.profile{
    display: block;
    width: 30%;
    height: 50%;
    border: black 2px solid;
    float: right;
    margin: 2em;
}

.avatar-profile{
    height: 30%;
    width: 90%;
    border-radius: 50%;
    background-color: grey;
}

.history{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 0.2em 0.5em;
    display: block;
    border: black 2px solid;
    border-radius: 15px;
    width: 40%;
    line-height: 3em;
    margin: 3em 2em 0 6em;
    float: left;

}
.history-heading{
    background-color: #43a4dd;
    border-radius: 10px 10px 0 0 ;
    border-bottom: 2px solid rgb(49, 49, 49);
    box-shadow: 3px 2px rgb(0, 0, 0, 0.2)
}
.movie-grid{
    margin: auto;
    height: auto;
    width: 90%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-align: center;
}

.nav-avatar{
    float: right;
    border:  black 2px solid;
    border-radius: 50%;
    margin: 2px 5px;
    height: 70px
}

.poster{
    border-radius: 10%;
    background-color: rgb(206, 168, 122);
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 30em;
    width: 20em;
    padding: 4px;
    margin: 10px;
}

.missing-poster {
	padding: 45px;
}

.poster:hover{
    box-shadow: 0 4px 8px 0 rgba(88, 227, 251, 0.466), 0 6px 20px 0 rgba(88, 227, 251, 0.466);
}

.show-container{
    display: flex;
    align-items: stretch;
    align-content: space-around;
    width: 90%;
    
}

.detail-image{
    border: 2px rgb(206, 168, 122);
    border-radius: 10%;
    height: 30em;
    width: 30%;
    margin: 1em 5em 1em 6em;
    float: right;
}

.movie-detail{
    padding: 25px;
    float: left;
    margin: 1em;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(101, 138, 145, 0.466), 0 6px 20px 0 rgba(101, 138, 145, 0.466);
    border-radius: 2%;}

.brand{
    float: left;
    width: 300px;
}

.logo{
    height: 10em;
    width: 100%;
}

.selected{
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(255, 241, 42), 0 6px 20px 0 rgba(255, 241, 42);
}

.unselected{
    box-shadow: none;
}

.provider-icons{
    background-size: cover;
    display: inline-block;
    height: 4em;
    width: 4em;
    border-radius: 5px;
}

.netflix{
    background-image: url("https://i.imgur.com/UfgOEwx.jpg");
}
.hulu{
    background-image: url("https://i.imgur.com/2pHET9b.png");
}
.amazon{
    background-image: url("https://i.imgur.com/FmiDvyI.jpg");

}
.test-heading{
    background-color: #43a4dd;
}
.hidden-form{
    visibility: hidden;
}
.show-button{
    visibility: visible;
}

.imbd-logo{
    height: auto;
    width:  8em;
}