<%- include ../partials/header.ejs %>


<body>
   

    <main class="movie-grid">
        <h1> foreach can go over first anchor from test page</h1>

            <a href="#" >
                <img src="https://i.imgur.com/LrpdQYY.jpg" alt="should be an image" class="poster">
            </a>

           
            
            <!-- <a href="#" >
                <img src="https://i.imgur.com/CfgC2PH.jpg" alt="should be an image" class="poster">
            </a>
            <a href="#" >
                    <img src="https://i.imgur.com/gbp2oqx.jpg" alt="should be an image" class="poster">
            </a>
            <a href="#" >
                <img src="https://i.imgur.com/PDEWvSd.jpg" alt="should be an image" class="poster">
            </a>
       
  
            <a href="#" >
                <img src="https://i.imgur.com/6C7rswj.jpg" alt="should be an image" class="poster">
            </a>
            <a href="#" >
                <img src="https://i.imgur.com/r8yesVi.jpg" alt="should be an image" class="poster">
            </a>
            <a href="#" >
                <img src="https://i.imgur.com/hGGQHko.jpg" alt="should be an image" class="poster">
            </a>
            <a href="#" >
                <img src="https://i.imgur.com/qeRhrN3.jpg" alt="should be an image" class="poster">
            </a> -->
      
    </main>
    <footer>Photo by Lee Aik Soon on Unsplash, Photo by Kid Circus on Unsplash</footer>
    
<%- include ../partials/footer.ejs %>
