<%- include ../partials/header.ejs %>
<main class="container">
    <div >
        <h1>Title You've Selected</h1>
        <div>
            <p>This is where the details go</p>
        </div>
        <p>
            This is where a foreach will go to create our recomended sight
            to find a movie
        </p>
        <div>
            <p>this is where the move should display</p>
        </div>
    </div>
<img src="https://i.imgur.com/qeRhrN3.jpg" alt="Movie image" class="detail-image">



</main>





<%- include ../partials/footer.ejs %>