<%- include('../partials/header.ejs') %>
	<div class="history">
		<h2>Recommendation History</h2>
		<div>
			<% if (user.histories.length > 0) { %>
				<% user.histories.forEach(function(history) { %>
					<%= user.history.getTimeStamp() %>
				<% }) %>
			<% } else { %>
				<h2>No histories to display</h2>
			<% } %>
		</div>
	</div>
	<div>
		<div class="profile">
				<% if (user.avatar) { %>
					<img src="<%= user.avatar %>" alt="" class="avatar-profile">&nbsp;&nbsp;
				<% } else { %>
					<img class="avatar-profile">img</i>
				<% } %>
		</div>
	</div>

<%- include('../partials/footer.ejs') %>